<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Additional Ruby Resources</h1>
    <p class="lead text-muted">Here you will find some additional resources that can help develop your Ruby programming skills.  Click on the picture of that resource and it will open that website in a new tab.</p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <div class="row">
      <div class="card">
        <h5 class="card-text">Ruby-lang.org is a website maintained by members of the Ruby community.  It explains the Ruby programming language and has links for downloads, libraries, and documentation that can help you grow your Ruby knowledge.</h5><a class="card" href="https://www.ruby-lang.org/en/" target="_blank"><%= image_tag 'rubylang.jpg' %></a>
      </div>
      <div class="card">
        <h5 class="card-text">Tryruby.org is an interactive Ruby tutorial application.  You will be able to run Ruby code in the prompt section and see what your code outputs in realtime.</h5><a class="card" href="http://tryruby.org/levels/1/challenges/0" target="_blank"><%= image_tag 'tryruby.jpg' %></a>
      </div>
      <div class="card">
        <h5 class="card-text">Rubymonk.com has many interactive tutorials that let you learn ruby concepts at beginner, intermediate, and advanced levels.</h5><a class="card" href="https://rubymonk.com/" target="_blank"><%= image_tag 'rubymonk.jpg' %></a>

      <div class="card">
        <h5 class="card-text">Codecademy.com is a free interactive tutorial application that lets you learn many programming languages including Ruby.  Codecademy also offers some paid courses and bootcamps for those looking to get further into software development.</h5><a class="card" href="https://www.codecademy.com/en/tracks/ruby" target="_blank"><%= image_tag 'codecademy.jpg' %></a>
      </div>
      <div class="card">
        <h5 class="card-text">Bottega.tech is the website for one of the best Fullstack Development Certificate Programs/Coding Bootcamps.  Bottega has an amazing curriculum and is for students looking to not only master programming skills but also gain employment in software programming.</h5><a class="card" href="https://bottega.tech/" target="_blank"><%= image_tag 'bottega.jpg' %></a>
      </div>
    </div>
  </div>
</div>