      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Additional Ruby Resources</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        </div>
      </section>

      <div class="album text-muted">
        <div class="container">

          <div class="row">
            <div class="card">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p><a class="card" href="https://www.ruby-lang.org/en/" target="_blank"><%= image_tag 'rubylang.jpg' %></a>
            </div>
            <div class="card">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p><a class="card" href="http://tryruby.org/levels/1/challenges/0" target="_blank"><%= image_tag 'tryruby.jpg' %></a>
            </div>
            <div class="card">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p><a class="card" href="https://rubymonk.com/" target="_blank"><%= image_tag 'rubymonk.jpg' %></a>

            <div class="card">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p><a class="card" href="https://www.codecademy.com/en/tracks/ruby" target="_blank"><%= image_tag 'codecademy.jpg' %></a>
            </div>
            <div class="card">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p><a class="card" href="https://bottega.tech/" target="_blank"><%= image_tag 'bottega.jpg' %></a>
            </div>
          </div>
        </div>
      </div>