<hr>

<div class="container">
	<div class="lessons">
		<h1><%= @lesson.title.titleize %></h1>
		<p>
		<%= markdown @lesson.body %>
		</p>
	</div>
	<br>
	<iframe frameborder="0" width="100%" height="500px" src="https://opalrb.com/try/?code:def%20method%0A%20%20puts%20%22Hello%22%0Aend%0A%0Amethod"></iframe>
</div>
<hr>

<%= link_to 'Edit', edit_lesson_path(@lesson) if logged_in?(:admin) %></br>
<%= link_to "Next Lesson", @lesson.next %>
<br>
<%= link_to 'Back to Lessons', lessons_path %>