<iframe frameborder="0" width="100%" height="500px" src="https://codepad.remoteinterview.io/EUYHSGDLXD"></iframe>

<br>
<br>
<p>
  <strong>Title:</strong>
  <%= @lesson.title.titleize %>
</p>

<p>
 <strong>Body:</strong>
<%= markdown @lesson.body %>
</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) if logged_in?(:admin) %></br>
<%= link_to "Next Lesson", @lesson.next %>
<br>
<%= link_to 'Back to Lessons', lessons_path %>