<%= form_with(model: exercise, local: true) do |form| %>
  
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this file from being saved:</h2>

      <ul>
      <% exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :assignment, id: :exercise_assignment, class: 'form-control', placeholder: 'Code Exercise Title' %>
  </div>
  
  <div class="form-group">
    <%= form.text_area :code, id: :exercise_code, class: 'form-control', rows: 15, placeholder: '```
    Your Code Here
``` 
(Include three back ticks before and after your code as shown here to save it with the correct syntax.  Back ticks are on the button between tab and esc on a regular keyboard)' %>
  </div>

  <div class="form-group">
    <%= form.text_area :notes, id: :exercise_notes, class: 'form-control', rows: 15, placeholder: 'Your Notes Here' %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: 'btn btn-secondary' %>
  </div>
<% end %>