<h1>Ruby Exercises</h1>

<%= link_to 'New Exercise', new_exercise_path %> |
<%= link_to "Logout", destroy_user_session_path, method: :delete %>

<hr>

<% @exercises.each do |exercise| %>
  <div class="container">
    <div class="col-md-12">
      <h3 class="exercise-assignment">Exercise: <%= link_to exercise.assignment.titleize, exercise %></h3>
      <p>Code: <%= exercise.code %></p>
      <p>Notes: <%= exercise.notes %></p>
      <p>Date Created: <%= exercise.created_at.strftime("%b %d, %Y") %></p>
      <td><%= link_to 'Edit', edit_exercise_path(exercise) if logged_in?(:admin, :user) %></td>
      <td><%= link_to 'Delete', exercise, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:admin, :user) %></td>
    </div>
    <hr>
  </div>
<% end %>
<br>
