

<p>
  <strong>Assignment:</strong>
  <%= @exercise.assignment %>
</p>

<p>
  <strong>Code:</strong>
  <%= @exercise.code %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @exercise.notes %>
</p>

<p>
  <strong>Date:</strong>
  <%= @exercise.created_at.strftime("%b %d, %Y") %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) if logged_in?(:admin, :user) %> |
<%= link_to 'Back', exercises_path %>