<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneBottegaTech</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rambla:700" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/nav" %>
    
    <div class="container">
      <%= yield %>
      <div class="login">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
    <br>
    <div class="mastfoot">
      <div class="inner">
           <div class="ruby_image">
            <%= image_tag "ruby_image.jpg", width: 100, height: 100, alt: "Ruby Image"  %>
          </div>
          <br>
        <p class="app-footer"><%= copyright_generator %></p>
      </div>
    </div>
  </body>
</html>
